<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="goBack()" ></ion-icon>
  </ion-buttons>
    <ion-title>{{ task.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteKid()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card >
        <ion-img src='assets/question.png' ></ion-img>
        <ion-card-header>
            <ion-card-title text-center>{{ task.name }}</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-list>
        <ion-item>
          <ion-label>Completed</ion-label>
          <ion-toggle [(ngModel)]=" task.bComplete"></ion-toggle>
        </ion-item>
      
       
      </ion-list>

</ion-content>
