<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ kid.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteKid()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card >
        <ion-img [src]='kid.photo' ></ion-img>
        <ion-card-header>
            <ion-card-title text-center>{{ kid.name }}</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addPlan()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-list>
        <ion-item button detail *ngFor="let plan of kid.planz" [href]="'/taskz/' + kid.id+'/'+plan.id" routerDirection="forward">
          <ion-label>{{ plan.name}}</ion-label>
          <ion-badge color="secondary">{{plan.planTaskz.length}}  </ion-badge>
        </ion-item>
      </ion-list>

</ion-content>
