<ion-header>
  <ion-toolbar>
    <ion-title>
      Kidz Schedulez
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addKid()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-list>
        <ion-item button detail *ngFor="let kid of kidsService.kids" [href]="'/planz/' + kid.id" routerDirection="forward">
          <ion-label>{{ kid.name}}</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
